/* =================================================================== */
/* Style.css  - Main Style File
By : Aslam - http://uexel.com 
====================================================================== */

@import url("fancybox.css");			/* FancyBox Styles */ 
@import url("http://fonts.googleapis.com/css?family=Carrois+Gothic");

html, body {
    height: 100%;
}
body {
    background-color: #1B1B1B;
    color: #69747A;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 100 !Important;
}

.brand {
    border: none;
    float: left;
}
#html {
    margin: 0 auto;
}


/* ---------- Top Navigator ---------- */

.topnav{
    position: relative;
    width: 100%;
    height: 25px;
    background: #0D0D0D;
    z-index: 9999;
    /*border-bottom: 1px solid #404040;*/
    border-bottom: 1px solid #FFE0BF;
}
.topnav .container {
    margin: 0 auto;
    list-style: none;
    color: rgb(218, 201, 201);
    vertical-align: middle;
}

.topnav .brand > a {
    /*display: none;*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 3px;
    color: white;
    font-size: 12px;
    vertical-align: middle;
}
.topnav .brand a > img {
    height: 23px;
    float: left;
    border: none;
}
.topnav .brand a > span {
    float: left;
}

.topnav .top-menu {  
    padding-top: 3px;
    font-size: 12px;
    vertical-align: middle;
}
.topnav .top-menu > ul {  
    float: right;
    list-style: none;
    color: rgb(218, 201, 201);
    margin: 0;
    vertical-align: middle;
}
.topnav .top-menu ul > li {
    float: left;
    line-height: 8px;
    padding-left: 15px;
    padding-top: 7px;
}
.topnav .top-menu ul li > a{
    color: #CCCCCC;
}
.topnav .top-menu ul li > a:hover{
    color: white;
}
.topnav .top-menu ul li a > i{
    font-size: 14px;
    padding-right: 2px;
    color: #D46D00;
}
.topnav .top-menu ul li a > t{
    font-size: 14px;
    padding-top: 10px;
}

/* ---------- Top Navigator \ Alternative Main Menu---------- */

.topnav .main-menu-alt .nav {
    position: absolute;
    padding-left: 10;
    margin-top: 2;
}
.topnav .main-menu-alt .nav a {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
    /*font-weight: bold;*/
    height: 14px;
}
.topnav .main-menu-alt .nav .active > a{
    background-color: #1B1B1B;
    color: #D46D00;
    text-shadow: none;
    border-top: 1px solid #FFE0BF;
    border-left: 1px solid #FFE0BF;
    border-bottom: none;
    border-right: 1px solid #FFE0BF;
}
.topnav .main-menu-alt .nav .active > a:hover {
    background-color: #1B1B1B;
    color: #D46D00;
    text-shadow: none;
    border-top: 1px solid #FFE0BF;
    border-left: 1px solid #FFE0BF;
    border-right: 1px solid #FFE0BF;
}   

.topnav .main-menu-alt .nav > li {
    float: left;
}
.topnav .main-menu-alt .nav > li > a {
    float: none;
    border: none;
    display: block;
    padding: 3px 10px 6px;
    color: white;
    text-shadow: none;
}
.topnav .main-menu-alt .nav > li > a:hover {
    background-color: #423628;
    color: white;
    text-shadow: none;
    border: none;
}


/* ---------- Main Navigation ---------- */

.navbar {
    overflow: visible;
}
.navbar-inner {
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 0;
    height: 120px;
    background: url("../image/landing_header.jpeg") repeat scroll #393939;
    background-color: #121212;
    border-bottom: 1px solid #FFE0BF;
}

.navbar .brand > a {
    color: white;
    font-size: 50px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.navbar .brand > img {
    width: auto;
    border: none;
    padding: 15px;
}

/* ---------- Main Navigation \ NavBar ---------- */

.navbar .nav {
    border: none; 
    margin-top: 92px;
}

.navbar .nav a {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    height: 14px;
}
.navbar .nav .active > a {
    background-color: #1B1B1B;
    color: #D46D00;
    text-shadow: none;
    border-top: 1px solid #FFE0BF;
    border-left: 1px solid #FFE0BF;
    border-bottom: none;
    border-right: 1px solid #FFE0BF;
}
.navbar .nav .active > a:hover {
    background-color: #1B1B1B;
    color: #D46D00;
    text-shadow: none;
    border-top: 1px solid #FFE0BF;
    border-left: 1px solid #FFE0BF;
    border-bottom: none;
    border-right: 1px solid #FFE0BF;
}   

.navbar .nav > li {
    float: left;
}
.navbar .nav > li > a {
    float: none;
    border: none;
    display: block;
    padding: 6px 10px 8px;
    color: white;
    text-shadow: none;
}
.navbar .nav > li > a:hover {
    background-color: #423628;
    color: white;
    text-shadow: none;
    border: none;
}


/* ---------- Topics \ Options ---------- */

.options {
    width: 100%;
    padding: 20px; 
}
.options .option-container {
    position: relative;
    width: 194px;
    height: 140px;
    display: inline-block;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow:  2px 2px 15px 8px rgba(0, 0, 0, 0.8);
    box-shadow:  2px 2px 15px 8px rgba(0, 0, 0, 0.7);
}

.options .option-container .option-stats {
    position: absolute;
    left: 0;
    bottom: 0px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 6px;
    margin-left: 5px;
    margin-bottom: 4px;
    border-top-right-radius: 5px;
    background-color: white;
    font-weight: bold;
    text-align: right;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9), 0px 0px 1px 1px rgba(0, 0, 0, 0.9);
    text-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 0px 1px 1px rgba(0, 0, 0, 0.9); 
}
.options .option-container .option-stats .options-stats-item a {
    color: grey;
}
.options .option-container .option-stats .options-stats-item a:hover {
    color: #1d5da1; 
}
.options .option-container .option-stats .options-stats-item .disabled {
    color: lightgrey;
    pointer-events: none;
    cursor: default;
}

.options .option-container .option-brief {
    display: block;
    margin: 5px; 
}
.options .option-container .option-brief img {
    width: 180px;
    height: 127px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}
.options .option-container .option-description {
    position: absolute;
    bottom: 0px;
    width: 180px;
    height: 100px;
    background: #EEE;
    color: #333;
    text-align: left;
    position: absolute;
    margin-top: -212px;
    margin-left: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; 
}
.options .option-container .option-description .name {
    padding: 10px;
    font-weight: bold; 
}
.options .option-container .option-description .desc {
    padding: 10px;
    font-size: .8em; 
}
.options .option-container .option-description .actions {
    position: absolute;
    bottom: 10px;
    left: 79px; 
}
.options .option-container .option-description:hover {
    -webkit-animation: fadeIn 1s;
    /* Safari 4+ */
    -moz-animation: fadeIn 1s;
    /* Fx 5+ */
    -o-animation: fadeIn 1s;
    /* Opera 12+ */
    animation: fadeIn 1s;
    /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; 
}


/* ---------- Topics \ Tooltip ---------- */

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0); 
}
.tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=80); 
}
.tooltip.top {
    margin-top: -3px; 
}
.tooltip.right {
    margin-left: 3px; 
}
.tooltip.bottom {
    margin-top: 3px; 
}
.tooltip.left {
    margin-left: -3px; 
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; 
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: black; 
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: black; 
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: black; 
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: black; 
}


/* ---------- Footer ---------- */

.foot {
    position: absolute;
    top: 200px; 
    height: 100px;
    width: 100%;
    background-color: red;
}








#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}






