@import url("http://fonts.googleapis.com/css?family=Carrois+Gothic");

html, body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
body {
-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
-o-user-select: none;
    color: #69747A;
    background-color: #1B1B1B;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    ;
}
.body-background-img {
    position: absolute;
    /*top: 145px;*/
    top: 127px;
    left: 0;
    width: 100%;
    height: 80%;
    opacity: 1.0;
    z-index: -10;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  visibility: hidden; /* doesn't seem to work */
  background-color: rgba(80, 13, 13, 0);
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(30, 30, 30, 0.8);
    border-width: 1px;
}
::-webkit-scrollbar:window-inactive {
    visibility: hidden;
}
    

.page-content{
    position: relative;
    float: left;
    left: 8%;
    width: 84%;
    height: 100%;
}


/* ---------- Top Navigator ---------- */

.topnav {
    position: fixed;
    top: 0;
    height: 25px;
    width: 100%;
    margin: 0;
    z-index: 9999;
    background-color: #0D0D0D;
    border-bottom: 1px solid #404040;
}
.topnav .top-menu {
    padding-top: 3px;
    font-size: 12px;
    vertical-align: middle;
}
.topnav .top-menu > ul {  
    float: right;
    list-style: none;
    color: rgb(218, 201, 201);
    margin: 0;
    vertical-align: middle;
}
.topnav .top-menu ul > li {
    list-style:none;
    float: left;
    line-height: 8px;
    padding-left: 15px;
    padding-top: 7px;
}
.topnav .top-menu ul li > a {
    color: #CCCCCC;
}
.topnav .top-menu ul li > a:hover {
    color: white;
}
.topnav .top-menu ul li a > i {
    font-size: 14px;
    padding-right: 2px;
    color: #D46D00;
}
.topnav .top-menu ul li a > t {
    font-size: 14px;
    padding-top: 10px;
}


/* ---------- Main Navigation ---------- */

.navbar {
    z-index: 5000;
    position: fixed;
    top: 25px;
    left: 0px;
    height: 100px;
    width: 100%;
    background: url("../image/landing_header.jpeg") repeat scroll #393939;
    background-color: #121212;
    border-bottom: 1px solid #FFE0BF;
    -webkit-box-shadow: inset 0px -3px 15px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px -3px 15px 0px rgba(0, 0, 0, 1);
    overflow-x: hidden;
    overflow-y: visible;
}
.navbar .brand {
    position: absolute;
    top: 3px;
    left: 0;
    width: 130px;
    height: auto;
    display: inline-block;
    white-space: normal;
}
.navbar .brand > img {
    border: none;
}

/* ---------- Main Navigation \ NavBar ---------- */

.navbar .page-content {
    width: 84%;
    overflow-y: hidden;
}

.navbar .nav-tabs {
    z-index: 5001;
    position: fixed;
    /*width: 200px;*/
    width: 100%;
    border: none;
    left: 10%;
    margin: 0;
    margin-top: 80px;
    margin-left: 150px;
    display: inline-block;
}
.navbar .nav-tabs > li {
    margin: 0;
    border: none;
    display: inline-block;
    white-space: normal;
}

.navbar .nav-tabs > li > a {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
}
.navbar .nav-tabs .active > a {
    background-color: #0D0D0D;
    color: #D46D00;
    text-shadow: none;
    text-decoration: none;
    border-top: 1px solid #FFE0BF;
    border-left: 1px solid #FFE0BF;
    border-bottom: none;
    border-right: 1px solid #FFE0BF;
    -webkit-box-shadow:  0px -3px 15px 1px rgba(0, 0, 0, 1);
    box-shadow:  0px -5px 10px 0px rgba(0, 0, 0, 1);
    padding: 5px 8px 2px;
}
.navbar .nav-tabs .active > a:hover {
    background-color: #0D0D0D;
    color: #D46D00;
    text-shadow: none;
    text-decoration: none;
    border-top: 1px solid #FFE0BF;
    border-left: 1px solid #FFE0BF;
    border-bottom: none;
    border-right: 1px solid #FFE0BF;
    padding: 5px 8px 2px;
}   

.navbar .nav-tabs > li {
    float: left;
    list-style:none;
    /*min-width: 80px;*/
    text-align: center;
    text-decoration: none;
    display: inline;
}
.navbar .nav-tabs > li > a {
    float: none;
    border: none;
    display: block;
    padding: 5px 8px 1px;
    color: white;
    text-shadow: none;
    text-decoration: none;
    display: inline;
}
.navbar .nav-tabs > li > a:hover {
    background-color: #423628;
    color: white;
    border: none;
    text-shadow: none;
    text-decoration: none;
    padding: 5px 8px 1px;
}


/* ---------- Topics \ Options ---------- */

.options {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
}
.options .option-container,
.options .option-container-hover {
    z-index: 2002;
    outline: none;
    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;  /* Firefox */
    -ms-user-select: none;  /* IE10+ */
    display: inline-block;
    position: relative;
    width: 300px;
    height: 180px;
    padding: 5px;
    margin: 20px;
    border: 7px solid rgb(40, 40, 40);
    border-radius: 5px;
    -webkit-box-shadow:  0px 0px 30px 15px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 30px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.options .option-container .option-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 83, 105, 0.85);
    -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    vertical-align: middle;
}

.options .option-container .option-content .option-watermark {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
.options .option-container .option-content .option-watermark span {
    z-index: 1;
    color: #688970;
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    opacity: 0.1;
    filter: alpha(opacity=0.1); 
}

.options .option-container .option-content .option-name {
    position: relative;
    z-index: 2;
    color: #ad5808;
    font-size: 23px;
    font-weight: bold;
    word-break: keep-all;
    word-wrap: break-word;    
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-color: #ad5808;
    border-bottom: 5px;
    line-height: 25px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    filter: dropshadow(color=rgba(0, 0, 0, 0.8), offx=0, offy=0);
}

.options .option-container .option-content .option-description {
    position: relative;
    z-index: 2;
    color: #DDDDDD;
    font-size: 15px;
    font-weight: normal;
    word-break: keep-all;
    word-wrap: break-word;
    padding-left: 30px;
    padding-right: 30px;
    height: 30px;
    line-height: 17px;
    text-align: left;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    filter: dropshadow(color=rgba(0, 0, 0, 0.15), offx=0, offy=0);
}


/* ---------- Canvas ---------- */

.canvas {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 67%;
    margin-top: 150px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgba(80, 80, 80, 1.0);
    -webkit-box-shadow:  0px 0px 20px 15px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 20px 15px rgba(0, 0, 0, 0.5);
    background-color: rgba(45, 45, 45, 0.7);
    cursor: default;
}
.canvas .scroll-pane {
    position:absolute; 
    top: 10px; 
    bottom: 10px; 
    left: 10px; 
    right: 10px; 
    overflow-y: auto;
}

.canvas h1 {
    color: rgb(75, 187, 224);
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    filter: dropshadow(color= rgba(0, 0, 0, 0.8), offx=0, offy=0);    
}
.canvas h1:first-child {
    margin: 0;
    margin-bottom: 15px;
}

.canvas h2 {
    color: rgb(105, 116, 122);
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 0;
    text-align: left;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    filter: dropshadow(color= rgba(0, 0, 0, 0.8), offx=0, offy=0);    
}

.canvas p {
    color: rgb(180, 180, 180);
    margin: 7px;
    margin-top: 15px;
    margin-left: 10px;
}


/* ---------- Clear Canvas ---------- */

.canvas-clear {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 67%;
    margin-top: 150px;
    margin-bottom: 20px;
    cursor: default;
}
.canvas-clear .scroll-pane {
    position:absolute; 
    top: 10px; 
    bottom: 10px; 
    left: 10px; 
    right: 10px; 
    overflow-y: auto;
}

.canvas-clear h1 {
    color: rgb(75, 187, 224);
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    filter: dropshadow(color= rgba(0, 0, 0, 0.8), offx=0, offy=0);    
}
.canvas-clear h1:first-child {
    margin: 0;
    margin-bottom: 15px;
}

.canvas-clear h2 {
    color: rgb(105, 116, 122);
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 0;
    text-align: left;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    filter: dropshadow(color= rgba(0, 0, 0, 0.8), offx=0, offy=0);    
}

.canvas-clear p {
    color: rgb(180, 180, 180);
    margin: 7;
    margin-top: 15px;
    margin-left: 10px;
}


/* ---------- Open Cases ---------- */

.open-case-table {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.open-case-table .table {
    width: 100%;
}


/* ---------- Vertically aligned groups ---------- */

.item-group-vertical {
    display: block;
    position: relative;
    top: 1px;
    left: 1px;
}
.item-group-vertical + .item-group-vertical {
    margin-top: 5px;
}

.item-group-vertical .group-item {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: -8px;
    font-size: 12px;
    text-align: center;
}


/* ---------- Footer ---------- */

.footer {
    width: 100%;
    height: 120px;
    background: url("../image/landing_header.jpeg") repeat scroll #393939;
    background-color: #121212;
    border-top: 1px solid #404040;
    /*border-top: 1px solid #FFE0BF;*/
    -webkit-box-shadow: inset 0px 3px 15px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 3px 15px 0px rgba(0, 0, 0, 1);
}



#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -1px;
}



/* ---------- Other ---------- */


div.hr {
    background: #fff  no-repeat scroll center;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 2px;
}






